.results{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	margin-top: 1.5rem;

	&__title{
		width: 100%;
		background: $bright-blue;
		text-align: center;
		color: #fff;
		font-weight: 100;
		font-size: 1.4rem;
	}
	&__content{
		width: 100%;
		background: $dark-blue;
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: center;

		&__column1{
			width: 50%;
			&__ul{
				padding: 0;
				margin: 0.8rem;

				&__li{
					list-style: none;
					color: darker-blue;
					margin-top: 0.2rem;
					font-weight: 100;
				}

			}
		}
		&__column2{
			width: 50%;
			&__header{
				font-size: 1.2rem;
				margin: 0;
				margin-top: 0.5rem;
				font-weight: 100;
			}
			&__content{
				margin-top: 0.5rem;
				padding: 0;
				font-weight: 100;
			}
		}
	}
}